{% extends 'newapp/base.html' %}
{% block content %}
<div class="container my-5">
    <div class="row">
        {% for food in foodlist_list %}
        <div class="col-3 text-center mt-4">
            <img src="{{food.pic.url}}" alt="No image found" width="250px" height="200px">
            <p>Name: {{food.name}}</p>
            <p>Price: {{food.price}}</p>
            <a href="{% url 'foodorderview' food.id %}"><button class="btn btn-success">Order Now</button></a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}