{% extends 'newapp/base.html' %}
{% block content %}
<div class="container my-4 mx-auto">
    <ol type="1">
        <li>
            <p style="color: blue;">MAZALI Restaurant Perinthalmanna</p><a
                href="http://127.0.0.1:8000/foodslist/"><button class="btn btn-info">Availabe Foods</button></a>
        </li><br>
        <li>
            <p style="color: blue;">Nahdi Cherpulassery</p><a href="http://127.0.0.1:8000/foodslist/"><button
                    class="btn btn-info">Available Foods</button></a>
        </li><br>
        <li>
            <p style="color: blue;">Ruchiyoram Mangodu</p><a href="http://127.0.0.1:8000/foodslist/"><button
                    class="btn btn-info">Available Foods</button></a>
        </li><br>
        <li>
            <p style="color: blue;">Hotel Sagar Cherpulassery</p><a href="http://127.0.0.1:8000/foodslist/"><button
                    class="btn btn-info">Available Foods</button></a>
        </li><br>
        <li>
            <p style="color: blue;">NMR Biriyani Center</p><a href="http://127.0.0.1:8000/foodslist/"><button
                    class="btn btn-info">Available Foods</button></a>
        </li><br>
        <li>
            <p style="color: blue;">Anandabhavan Cherpulassery</p><a href="http://127.0.0.1:8000/foodslist/"><button
                    class="btn btn-info">Available Foods</button></a>
        </li><br>
        <li>
            <p style="color: blue;">Shalimar Thrissur</p><a href="http://127.0.0.1:8000/foodslist/"><button
                    class="btn btn-info">Available Foods</button></a>
        </li><br>
    </ol>
</div>

{% endblock %}